
body{
  background-image: url(../public/img/background.png);
  backdrop-filter: blur(5px);
  background-size: cover;
  font-family: Raleway;
}

#root{
  height: 100vh;
  display:flex;
  flex-direction: column;
}

header{
  display: flex;
  padding: 1em;
  align-items: center;
  background-color: rgba(85, 79, 76, 0.3);
  backdrop-filter: blur(10px);
  justify-content: space-around;
}

header img{
  display: block;
  margin: 0 auto;
}

.ouvert{
  display: none;
}

.menu-open{
  display: flex !important;
}

#InTablet{
  display: none;
  background-image: url('../public/img/tablet-background.png');
  background-size:cover;
  border-radius: 10px;
  width: 50%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

#InTablet div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#InTablet div img{
  width: 96px;
  margin: 0 auto;
}

#InTablet a{
  text-decoration: none;
  width: 100px;
  color: white;
  margin: 1em;
  text-align: center;
}

.tablet{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  
}

.tablet > img{
  width: 10%;
}

nav{
  display: flex;
  flex-direction: column;
}

nav a, #InTablet{
  text-decoration: none;
  font-size: large;
  margin: 0.3em;
  color: white;
  font-weight: bold;
}

.container{
  text-align: center;
}

ul{
  padding: 0;
}

.listmonster img{
  width: 150px;
  height: 150px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  margin: 0 auto;
  margin: 0.5em;
  object-fit: cover;
  background-color: white;
}