#InTablet-menu{
    display: none;
  }

#tablet-menu{
    width: 50%;
    transition: 1s;
}

#tablet-menu:hover{
    transform: rotate(10deg) scale(1.2);
    filter: drop-shadow(0px 0px 26px rgba(255,255,255,0.8));
    transition: 1s;
}

.mode-menu li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.mode-menu li{
    list-style-type: none;
}