.card{
    background-color:white;
    border-radius: 2rem;
    margin:auto;
    padding:2em;
}

.card-img-top{
    float: left;
    width: auto !important;
    height: 100% !important;
}

.card-title{
    font-size: 3em;
}

.card-subtitle{
    font-size: 2em;
}

.desc{
    width: 100%;
    min-height: 145px;
}